/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/nbproject/private/
.idea/dataSources/1b666920-d20d-4358-a0fa-d27e73b17e43/_staging_/
.idea/inspectionProfiles/
var/logs/
