/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/nbproject/private/
.idea/dataSources/1b666920-d20d-4358-a0fa-d27e73b17e43/_staging_/
.idea/inspectionProfiles/
var/logs/
.idea/dataSources/c6227ae9-2e96-421d-aef1-3a80eb926d9b/_staging_/
.idea/dataSources/e964f448-15a5-44d8-a145-8da59308c757/_staging_/
src/AppBundle/Services/BigData/
!web/working/