option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /web
        memory_limit: 512M
        zlib.output_compression: On
        allow_url_fopen: On
        max_execution_time: 600
    aws:elasticbeanstalk:application:environment:
        RDS_PORT: 3306
        RDS_HOSTNAME: mediaff-rst.cgitij9shssk.us-east-1.rds.amazonaws.com
        RDS_DB_NAME: mediaff_mysql
        RDS_USERNAME: mediazmj
        RDS_PASSWORD: 3+f9mJ5#1n0q
    aws:elasticbeanstalk:environment:process:default:
        HealthCheckPath: /
        MatcherHTTPCode: 200,302
        Port: 80
        Protocol: HTTP