# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:
    encoders:
        AppBundle\Entity\User:
            algorithm: bcrypt

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    #providers:
    #    in_memory:
    #       memory: ~
    providers:
        chain_provider:
            chain:
                providers: [user_provider, user_provider]
        user_provider:
            entity:
                class: AppBundle:User
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: ~
            pattern:    ^/
            provider: user_provider
            #http_basic: ~
            form_login:
                login_path: login
                check_path: login
                username_parameter: login[username]
                password_parameter: login[password]
                always_use_default_target_path: true
                default_target_path: /pubmaster
                target_path_parameter: _target_path
                use_referer: false
            logout:
                 path:   /logout
                 target: /
                 invalidate_session: true

    access_control:
            - { path: ^/login, role: IS_AUTHENTICATED_ANONYMOUSLY }
            - { path: ^/, roles: ROLE_USER }
            # activate different ways to authenticate

            # http_basic: ~
            # http://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate

            # form_login: ~
            # http://symfony.com/doc/current/cookbook/security/form_login_setup.html
